export (angleToR,FitRwithPCAandWALS,FitRDeltaQSym,ggcorrelogram,Keller,linangplot,lincos,correlogram,
        fit_angles,ggbplot,ggtally,ipSymLS,jointlim,pfa,pco,rmse,rmsePCAandWALS,tally,tr,wAddPCA)
import (calibrate)
import (corrplot)
import (xtable)
import (MASS)
import (lsei)
import (ggplot2)
importFrom("stats", "cor", "cov", "nlminb", "runif", "var")
importFrom("graphics", "arrows", "par", "text", "points", "segments")

